@use "variables" as *;

div.App {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	p {
		color: $main-font-color;
	}

	h1 {
		color: $headerColor;
		margin-top: $headerTopMargin;
	}

	h2 {
		color: $headerColor;
		margin-top: $headerTopMargin;
	}

	h3 {
		$headerColor: rgb(172, 123, 33);
		color: $headerColor;
		margin-top: $headerTopMargin;
	}

	.content {
		p {
			color: red;
		}
	}
}