// @use "variables_conservative" as *;
@use "variables" as *;

div.App {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	p {
		color: $main-font-color;
	}

	h1 {
		color: $headerColor;
		margin-top: $headerTopMargin;
	}

	h2 {
		color: $headerColor;
		margin-top: $headerTopMargin;
	}

	h3 {
		$headerColor: rgb(172, 123, 33);
		color: $headerColor;
		margin-top: $headerTopMargin;
	}

	.content {
		p {
			color: $warning-color;
		}

		@mixin makeButton($name, $bgcolor, $bordercolor: #555) {
			.#{$name} {
				font-size: 1.5rem;
				background-color: $bgcolor;
				border: 3px solid $bordercolor;
				padding: .5rem;
				border-radius: .5rem;

				&:hover {
					background-color: lighten($bgcolor, 20%)
				}

				&-disabled {
					background-color: transparentize($bgcolor, .6);
					border: 3px solid #555;
				}
			}

			margin-right: 1rem;
		}

		$buttons: primary lightblue, secondary lightgreen, warning orange, error tomato, info purple;

		@each $name, $bgcolor in $buttons {
			@include makeButton($name, $bgcolor);
		}

		// @include makeButton(primary, lightblue);
		// @include makeButton(secondary, lightgreen);
		// @include makeButton(warning, orange);
		// @include makeButton(error, tomato);

		// button.secondary {
		// 	@include btn(lightgreen);
		// }

		// button.warning {
		// 	@include btn(orange);
		// }

		// button.error {
		// 	@include btn(tomato, red);
		// }
	}
}